* {
  margin: 0;
  padding: 0;
}

html {
  background: aquamarine;
  color: darkgreen;
  font-family: Menlo;
}

.controls {
  position: fixed;
  text-align: center;
  top: 4em;
  width: 100%;
}

.button {
  border: 2px;
  border-style: solid;
  border-color: black;
  color: darkgreen;
  font-size: 40px;
  margin: 0 0.5em;
  text-decoration: none;
}

.button:first-child {
  margin-left: 0;
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
  color: black;
}

.stopwatch {
  font-size: 40px;
  height: 100%;
  line-height: 70vh;
  text-align: center;
}

.results {
  border-color: lime;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
